<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/agregar}">Agregar</a>
<div th:if="${operadores != null }">
    <table>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="operador:${operadores}">
            <td th:text="${operador.idoperador}"></td>
            <td th:text="${operador.nombre}"></td>
            <td th:text="${operador.apellido}"></td>
            <td th:text="${operador.cargo}"></td>
            <td><a th:href="@{/editar/} + ${operador.idoperador}" th:text="Editar"></a>
                <a th:href="@{/eliminar (idoperador=${operador.idoperador})}" th:text="Eliminar"></a>
            </td>
        </tr>
    </table>



</div>
</body>
</html>